<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" />
    <section name="schedulerConfiguration"
             type="eidss.model.WindowsService.SchedulerConfigurationSection, eidss.core" />
  </configSections>

  <loggingConfiguration configSource="HMIS2EIDSSLoggingConfiguration.config" />

  <schedulerConfiguration
    schedulerEnabled="true"
    immediatelyRunSchedulerWhenServiceStarts="false"
    daysBetweenSchedulerRuns="1"
    timeOfSchedulerRuns="02:00:00"
    >
  </schedulerConfiguration>

  <appSettings>
    <add key="HMIS2EIDSSServiceSystemName" value="HMIS2EIDSSService_v6" />
    <add key="HMIS2EIDSSServiceDisplayName" value="HMIS To EIDSS Service version 6" />
    <add key="HMIS2EIDSSServiceDescription" value="Service for transmission data from HMIS To EIDSS version 6" />

    <add key="HMISUsr" value="eidss" />
    <add key="HMISPwd" value="@eidss_123456@" />
    <!--add key="HMISStartDate" value="2015-01-15" /-->
    <add key="HMISDaysBack" value="30" />
    <add key="HMISDaysDuplicateCase" value="3" />

    <add key="DefaultOrganization" value="test_org" />
    <add key="DefaultUser" value="test_admin" />
    <add key="DefaultPassword" value="test" />
    <add key="ClientID" value="DefaultClientIDforHMIS2EIDSS" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICaseRegistrationWcf" messageEncoding="Mtom" maxReceivedMessageSize="10000000" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://case.moh.gov.ge/CaseRegistration/Services/CaseRegistrationWcf.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICaseRegistrationWcf"
        contract="HMIS.ICaseRegistrationWcf" name="WSHttpBinding_ICaseRegistrationWcf" />
    </client>
  </system.serviceModel>
</configuration>