<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <loggingConfiguration configSource="EhsLoggingConfiguration.config" />
  <appSettings>
    <add key="EhsServiceHostURL" value="http://localhost:50120/"/>
    <add key="EhsServiceSystemName" value="EIDSSEhsService_v6" />
    <add key="EhsServiceDisplayName" value="EIDSS Ehs Service version 6" />
    <add key="UseDefaultLogin" value="true" />
    <add key="DefaultLanguage" value="en" />
    <add key="ConnectionSource" value="1" />
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;application name=eidssehs;Timeout=12000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ThrowExceptionOnError" value="true" />
    <add key="WebBarcodePageWidth" value="150" />
    <add key="WebBarcodePageHeight" value="50" />
    <add key="ClientID" value="DefaultClientIDforEhsService" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="EIDSS.EHS.Service.EhsFacade" behaviorConfiguration="ServiceBehavior">
        <endpoint bindingConfiguration="BasicBinding" binding="basicHttpBinding" contract="EIDSS.EHS.Service.IEhsFacade" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>
