<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key="WarnIfResourceEmpty" value="true" />
    
    <add key="SQLUser" value="" />
    <add key="SQLPassword" value="" />
    <add key="SQLDatabase" value="EIDSS" />
    <add key="SQLServer" value="(local)" />
    
    <add key="AvrVirtualDirectoryName" value="AVR" />
    <add key="MapLocalUrl" value="" />
    <add key="ReportServiceHostURL" value="http://localhost:8098/" />
    <add key="ServiceSystemName" value="EIDSSReportsService_v6" />
    <add key="ServiceDisplayName" value="EIDSS Reports Service version 6" />
    
    <add key="ErrorLogPath" value="C:\ErrorLogs" />
    
    <add key="SupportedLanguages" value="en,ru,ka,kk,uz-C,uz-L,az-L,hy,uk,ar" />
    <add key="DefaultLanguage" value="en" />
      
    <add key="ArchiveConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;" />
    <add key="ArchiveUser" value="" />
    <add key="ArchivePassword" value="" />
    <add key="ArchiveDatabase" value="" />
    <add key="ArchiveServer" value="" />

    -->
  </appSettings>
</configuration>
