<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v4_IvanConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v4ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v4_40KConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v4_AZConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v5ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v5_GATConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v5_AZ_65kConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_v6_IQConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.FALCON_ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionString2"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionString3"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionString4"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_MP" connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.eidss_v6ConnectionStringKZ"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True" />
        <add name="EIDSS.Reports.Properties.Settings.AZDB_MIKConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_THConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.UA_ADBConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.EIDSS_KZConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.INTEL_AZ_DBConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EIDSS.Reports.Properties.Settings.FALCON_JOConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EIDSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
