<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="hmisRpc" type="Hmis.Rpc.Config.HmisRpcSection, Hmis.Rpc" />
  </configSections>  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MenuFilePath" value="\Content\MenuStructure.xml" />
    <add key="IconMenuFilePath" value="\Content\IconMenuStructure.xml" />
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Max Pool Size={4};Asynchronous Processing=True;application name=eidssweb;" />
    <add key="ClientID" value="DefaultClientIDforWEB" />
    <add key="HeartbeatSeconds" value="10" />
    <add key="LifetimeSeconds" value="1200" /> <!-- 1200 = 20 minutes -->
    <add key="CheckIntervalSeconds" value="300" /> <!-- 300 by default -->
    <add key="Organization" value="" />
    <add key="ErrorLogPath" value="C:\ErrorLogs" />

<!--    <add key="SupportedLanguages" value="az-L,en,ru"/>-->
    <add key="SupportedLanguages" value="en,ru,ka,kk,uz-C,uz-L,az-L,hy,uk,ar-IQ,ar,th" />
    <add key="DefaultLanguage" value="en" />
    <add key="ReportServiceHostURL" value="http://localhost:8097/" />
    <add key="EhsServiceHostURL" value="http://localhost:50120/" />
    <add key="DefaultRegionInSearch" value="true" />
    <add key="ListGridPageSize" value="50" />
    <add key="LabSectionPageSize" value="50" />
    <add key="PopupGridPageSize" value="50" />
    <add key="DetailGridPageSize" value="10" />
    <add key="CheckNotificationSeconds" value="10" />
    <add key="AutoHideNotificationSeconds" value="1200" /> <!-- 20 minutes -->
    <add key="ForceLeftToRight" value="false" />
    <add key="IsActionLogging" value="false" />
    <add key="ShowCBT" value="true" />
    <add key="UploadingSessionsCount" value="4" />
    <add key="Uploading506HSERVUnique" value="false" />
    <add key="Uploading506ReturnOnlyErrorRows" value="false" />
    <add key="Uploading506ResultToExcel" value="false" />
    <!-- GG BL Verification Switch -->
    <add key="GGPinServiceVerification" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--httpCookies requireSSL="true" /-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/ReLogin" timeout="20" path="/" name="formsauth" />
      <!--forms loginUrl="~/Account/ReLogin" timeout="20" path="/" name="formsauth" requireSSL="true" /-->
    </authentication>
    <machineKey validationKey="E99C30174FE4964F19303D91705C294A85351326CDD80C010384E9908BBC526F" decryptionKey="41256B4E650F1F0210F22D35D03A8BE83995AE4464B8F477" validation="SHA1" />
    <customErrors mode="Off" defaultRedirect="~/en-US/Error/HttpError">
      <error statusCode="404" redirect="~/en-US/Error/Http404" />
    </customErrors>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
    <!--<roleManager defaultProvider="ClientRoleProvider" enabled="true">-->
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
        <!--<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />-->
      </providers>
    </roleManager>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
    </httpHandlers>
    <sessionState mode="Off" />
    <!--sessionState timeout="20" sqlCommandTimeout="60" /-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="XframeOptions" type="eidss.webclient.Utils.XframeOptionsModule" />
    </modules>
    <handlers>
    </handlers>
    <defaultDocument enabled="false">
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Collections" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportFacade" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:50:00" sendTimeout="00:30:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxBufferSize="655360000" maxReceivedMessageSize="655360000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEhsFacade" closeTimeout="00:20:00"
          openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxBufferSize="655360000" maxReceivedMessageSize="655360000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IIdentityService">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="CommonDataWebSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50120/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEhsFacade" contract="EhsService.IEhsFacade"
        name="BasicHttpBinding_IEhsFacade" />
      <endpoint address="http://localhost:8097/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReportFacade" contract="ReportService.IReportFacade"
        name="BasicHttpBinding_IReportFacade" />
      <endpoint address=""
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService"
        contract="Azerbaijan.IIdentityService" name="BasicHttpBinding_IIdentityService" />
      <endpoint address=""
        binding="basicHttpBinding" bindingConfiguration="CommonDataWebSoap"
        contract="Georgia.CommonDataWebSoap" name="CommonDataWebSoap" />
    </client>
  </system.serviceModel>
</configuration>
